/target/
*.class
*.jar
*.war
*.ear

/.idea/
*.iml
/.vscode/
.classpath
.project
.settings/
/out/
/*.iml

.DS_Store
bin/

*.log
*.tmp
*.swp

/generated/

*.xml


/.gradle/
/build/
src/main/resources/docs/

# End of .gitignore


